:root{
    text-align: center;
}
body{
    text-align: center;
    font-family: 'klee One', cursive;
    background-image: url(finance.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(2px);
    text-shadow: 1px 2px rgb(116, 75, 75);
   /* background-blend-mode: hard-light;*/
    background-color: rgb(18, 22, 20);
    font-size: large;
    padding: 1rem;

    
   
}
label{
    display: block;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 1px 2px rgb(51, 37, 37);
}
input{
    font-size: 1.5rem;
    border-radius:12px;
    text-shadow: 1px 2px rgb(51, 37, 37);

}
button{
    font-size: 1.4rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    font-family: 'klee One', cursive ;
    font-size: larger;
    text-shadow: 1px 2px rgb(116, 75, 75);

    

}
div{
    font-weight: bolder;
    font-size: larger;
}
button:hover{
    color: red;
    background-color: rgb(18, 22, 20);
}
.sp{
    color: rgb(139, 53, 53);
    text-shadow: 1px 2px rgb(99, 28, 28);
}
.he{
    text-shadow: 1px 2px rgb(116, 75, 75);
}

/*main{
    padding: 1rem;
    text-align: center;
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, red,yellow);


}